%h1 Tasks
.container
  %ul.tasklist.nav
    %li{"ng-repeat" => "task in tasks | orderBy:['completed_at', 'priority']"}
      %a{:href => "/tasks/{{task.id}}"}
        {{task.title}}
      %span
        %button.btn.btn-primary{:href => "/tasks/{{task.id}}/edit"}
          %i.icon-edit
        %button.btn.btn-danger{"ng-click" => "destroy()"}
          %i.icon-trash
  %form{:name => "newTask", class: "form-horizontal", "ng-controller" => "TasksCreateCtrl"}
    %fieldset
      %input.text_field{:name => "task[title]", "ng-model" => "task.title", :required => "", :type => "text"}
      %span.help-inline{"ng-show" => "newTask.title.$error.required"}
        Required
      %button.btn.btn-success{"ng-click" => "save()", "ng-disabled" => "isClean() || newTask.$invalid"}
        %i.icon-plus
        Add
