.span6
  %h1 Tasks
  %ul.tasklist.nav
    %li{"ng-repeat" => "task in tasks | orderBy:['priority']", "ng-mouseenter" => "showControls = true", "ng-mouseleave" => "showControls = false"}
      %a{:href => "#", "ng-click" => "complete(!task.completed)", "ng-class" => "{true: 'completed', false: 'uncompleted'}[task.completed]"}
        {{task.title}}
      %span.controls{"ng-show" => "showControls"}
        %button.btn.btn-link.btn-mini{"ng-click" => "up(task)", title: "Increase priority"}
          %i.icon-arrow-up{"inverts-icon-color-when-hovered" => true}
        %button.btn.btn-link.btn-mini{"ng-click" => "down(task)", title: "Decrease priority"}
          %i.icon-arrow-down{"inverts-icon-color-when-hovered" => true}
        %a.btn.btn-mini{:href => "/tasks/{{task.id}}/edit", title: "Edit task"}
          %i.icon-edit
        %button.btn.btn-danger.btn-mini{"ng-click" => "destroy()", title: "Delete task"}
          %i.icon-trash

  %form{:name => "newTask", class: "form-horizontal", "ng-submit" => "save()"}
    %fieldset
      %input.text_field{:name => "task[title]", "ng-model" => "task.title", :required => "", :type => "text"}
      %span.help-inline{"ng-show" => "newTask.title.$error.required"}
        Required
      %button.btn.btn-success{"ng-disabled" => "isClean() || newTask.$invalid"}
        %i.icon-plus.icon-white
        Add
/ .span6
/   %h2 Finished tasks
/   %ul.tasklist.nav
/     %li{"ng-repeat" => "task in tasks | filter:{completed: true} | orderBy:['-completed_at']", "ng-mouseenter" => "showControls = true", "ng-mouseleave" => "showControls = false"}
/       %a.completed{:href => "#", "ng-click" => "uncomplete()"}
/         {{task.title}}
/       %span.controls{"ng-show" => "showControls"}
/         %a.btn.btn-mini{:href => "/tasks/{{task.id}}/edit"}
/           %i.icon-edit
/         %button.btn.btn-danger.btn-mini{"ng-click" => "destroy()"}
/           %i.icon-trash
