%h1 Tasks
%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Priority
      %th Actions
  %tbody
    %tr{"ng-repeat" => "task in tasks | orderBy:'priority'"}
      %td
        %a{:href => "/tasks/{{task.id}}"}
          {{task.title}}
      %td
        {{task.priority}}
      %td
        %a.btn.btn-primary{:href => "/tasks/{{task.id}}/edit"}
          %i.icon-edit
          Edit
        %button.btn.btn-danger{"ng-click" => "destroy()"}
          %i.icon-trash
          Delete
%p
  %a.btn.btn-primary{:href => "/tasks/new"}
    %i.icon-plus
    New
