<h1>Task</h1>

<p>
  <b>Title</b><br>
  {{task.title}}
</p>

<p>
  <b>Priority</b><br>
  {{task.priority}}
</p>

<div class="form-actions">
  <a href="/tasks/{{task.id}}/edit"
    class="btn btn-primary"><i class="icon-edit"></i>
    Edit Task
  </a>
  <button ng-click="destroy()" class="btn btn-danger">
    <i class="icon-trash"></i> Delete
  </button>
  <a href="/tasks" class="btn">
    Back to tasks
  </a>
</div>

