@import "font-awesome";
@import "bootstrap_variables";
@import "bootstrap";
body { padding-top: 50px; }
@import "bootstrap-responsive";

.alert {
    position: absolute;
    width: 480px;
    padding-top: -50px;
}

.span12.view {
    padding-top: 50px;
}

.importance {
    position: absolute;
    width: 7px;
    height: 7px;
    &.red {
        background-color: red;
    }
    &.yellow {
        background-color: rgb(229, 229, 51);
    }
    &.green {
        background-color: rgb(9, 211, 9);
    }
}

.tasklist {
    width: 320px;
    li {
        margin: 2px;
        position: relative;
        border: 1px solid #e5e5e5;
        .controls {
            position: absolute;
            right: 0;
            top: 0;
        }
        > a {
            margin: 0;
            padding: 5px 5px 5px 15px;
            display: block;
            &.completed {
                @include icon(check);
            }
            &.uncompleted {
                @include icon(check-empty);
            }
        }
    }
}

.tasklist span a, 
.tasklist span button {
    margin-top: 4px;
    margin-right: 3px;
}

.completed,
.completed:focus,
.completed:active,
.completed:hover {
    text-decoration: line-through !important;
}
