$iconSpritePath: '';
$iconWhiteSpritePath: '';
@import "bootstrap_variables";
@import "bootstrap";
body { padding-top: 50px; }
@import "bootstrap-responsive";

.tasklist.nav {
    width: 320px;
    list-style: none;
    li {
        margin: 2px;
        position: relative;
        border: 1px solid #e5e5e5;
        span {
            position: absolute;
            right: 0;
            top: 0;
        }
        > a {
            margin: 0;
            padding: 5px 5px 5px 15px;
            display: block;
        }
    }
}
