// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tasklist.nav {
    width: 200px;
    list-style: none;
    li {
        margin: 2px;
        position: relative;
        border: 1px solid #e5e5e5;
        span {
            position: absolute;
            right: 0;
            top: 0;
        }
        a {
            margin: 0;
            padding: 5px 5px 5px 15px;
            display: block;
        }
    }
}
.tasklista.nav li {
    width: 50%;
    margin: 2px;
    list-style: none;
    border: 1px solid #e5e5e5;
    a {
        margin: 0;
        padding: 5px 5px 5px 15px;
        display: block;
    }
}
