.navbar.navbar-fixed-top{"ng-controller"=>"SessionsController"}
  %nav.navbar-inner
    .container
      = link_to "Angular First", root_path, :class => 'brand'
      %a.btn.btn-navbar{"href" => "#", "data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .container.nav-collapse
        %ul.nav.pull-right
          %li{"ng-show" => "authorized()"}
            %a{"href" => "#", "ng-click" => "logout()"} {{ current_user.email }} (Logout)
          %li{"ng-show" => "!authorized()"}
            %a{"href" => "/login"} Login
          %li{"ng-show" => "!authorized()"}
            %a{"href" => "/register"} Register
